## Emacs ###
# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

history

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

/eln-cache/

/transient/

/tutorial/

/url/

/history

/eshell/

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
/elpa/

# reftex files
*.rel

# AUCTeX auto folder
/auto/

# cask packages
.cask/
dist/

# ido files
ido.last

# Flycheck
flycheck_*.el

# smex
smex-items

# server auth directory
/server/

# projectiles files
.projectile

# directory configuration
.dir-locals.el

# network security
/network-security.data