@import "/home/lucas/.cache/wal/colors-waybar.css";

* {

    background-color: @background;
    color: @color6;
}

#outer-box {
    border: 2px solid @color3;
}

#input {
    margin-top: 15;
    margin-left: 15;
    margin-right: 15;
    margin-bottom: 5;
}

#inner-box {
    margin: 15;
}

#unselected,
#selected {
    margin-top: 15;
    margin-bottom: 15;
}

#text {
    margin-left: 10;
}

#img {
    margin-left: 10;
}
