@import "themes/mocha.css";

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Inter, FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    min-height: 0px;
    border-radius: 0px;
}

window#waybar {
    background-color: @base;
    color: @flamingo;
    transition-property: background-color;
    transition-duration: .2s;
}

window#waybar.hidden {
    opacity: 0.2;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
}

#workspaces button {
    background-color: transparent;
    color: @green;
    opacity: 0.5;
    padding-right: 5px;
    padding-left: 5px;
}

#workspaces button:hover {
    border: none;
    opacity: 0.9;
}


#workspaces button.active {
    background: @surface0;
    color: @green;
    opacity: 1;
    border-bottom: 2px solid @green;
}

#workspaces button.focused {
   background-color: rgba(255, 255, 255, 0.8);
}

#window,
#workspaces {
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 3px;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0px;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

label:focus {
    background-color: #000000;
}

#custom-media {
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: @surface1;
    border-color: @green;
    color: @green;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#clock,
#cpu,
#memory,
#custom-media,
#custom-weather,
#custom-kernel,
#tray {
    color: @text;
    padding-right: 10px;
    padding-left: 10px;
}
#custom-weather {
   border-color: @yellow;
   padding-top: 5px;
   color: @yellow;
   border-bottom: 2px solid @yellow;
}
#custom-kernel {
   border-bottom: 2px solid @red;
   color: @red;
}
#clock {
   border-bottom: 2px solid @flamingo;
   color: @flamingo;
   margin-right: 5px;
}
#cpu {
   border-bottom: 2px solid @sapphire;
   color: @sapphire;
}
#custom-media {
   border-bottom: 2px solid @lavender;
   color: @lavender;
   padding-top: 5px;
}
#memory {
   border-bottom: 2px solid @mauve;
   color: @mauve;
}
#tray {
   border-bottom: 2px solid @peach;
   color: @peach;
   padding-right: 5px;
   padding-left: 5px;
}
